<h2><%= @student.name %></h2>

<h3> <%= @student.name %>'s Addresses:</h3>
<p>
  <% @student.addresses.each do |address| %>
    <%= link_to address.description, student_address_path(address.student, address) %></br>
    <%= address.street %></br>
    <%= address.city %>,
    <%= address.state %></br>
    <%= address.zipcode %></br></br>
    <% end %>
  </p>

<h3> <%= @student.name %>'s Courses: </h3>

<p>
  <% @student.courses.each do |course| %>
    <%=link_to course.name, course_path(course) %> </br></br>
    <% end %>

</p>
