<h2><%= @student.name %></h2>

<h2> <%= @student.name %>'s Addresses:</h2>
<p>
  <% @student.addresses.each do |address| %>
    <%= link_to address.description, student_address_path(address.student, address) %></br>
    <%= address.street %></br>
    <%= address.city %>,
    <%= address.state %></br>
    <%= address.zipcode %></br></br>
    <% end %>
  </p>

<h2> <%= @student.name %>'s Courses: </h2>

<p>
  <% @student.courses.each do |course| %>
    <%= course.name %> </br>
    <% end %>

</p>
